[run]
branch = True
source = .

omit =  **/__init__.py
        **/migrations/**
        **/tests/**
        **/settings/master.py
        **/settings/develop.py
        **/settings/alpha.py
        **/settings/local.py
        **/settings/secret.py
        **/wsgi.py
        **/urls.py
        manage.py
        fabfile.py
