[run]
branch = True
source = .

omit =  **/__init__.py
        **/migrations/**
        **/settings/*.py
        **/tests/**
        **/{{ project_name }}/{{ project_name }}/wsgi.py
        manage.py
        fabfile.py
