*.log
*.pot
*.py[cod]
*.db
*.log.old
*.log.gz
.idea
.DS_Store
*.swp
*.un~
media/
analysis
*.sublime-project
*.sublime-workspace
*.TODO
.buildconfig
coverage/
htmlcov/
.coverage
clonedigger_output.html
flake.out
pep8.out
node_modules/
__pycache__
appimage/*
CACHE/*
*secret.py
*.vscode/
dump.rdb
.prettierrc
*/spyspool/*
cypress.env.json
.sass-cache
deploy/alpha.yaml
deploy/beta.yaml
deploy/production.yaml
deploy/hosts