*.log
*.pot
*.py[cod]
*.db
*.log.old
.idea
.DS_Store
*.swp
*.un~
media/
analysis
*.sublime-project
*.sublime-workspace
*.TODO
.buildconfig
coverage/
htmlcov/
.coverage
clonedigger_output.html
flake.out
pep8.out
coverage.xml
node_modules/
__pycache__
appimage/*
CACHE/*
*secret.ini
*.vscode/
dump.rdb
.prettierrc
*/spyspool/*
cypress.env.json
