Django>=1.10
django-debug-toolbar
django-cookie-law
psycopg2
django-coverage
django-webtest
coverage
flake8
clonedigger

#django-spoolgore
#django-taggit-live
#django-colorful
#twentytab-choicesfilter
#twentytab-cked
#django-colorful
#twentytab-customadmin
#twentytab-geocode
#twentytab-gmaps
#twentytab-highlighter
#twentytab-image-ui
#twentytab-immortalmodel
#twentytab-inspectmodel
#twentytab-model-to-bidimensional
#twentytab-select2
#twentytab-seo
#twentytab-sortable
#twentytab-tab-translation
#twentytab-totalsum-admin
#twentytab-tree
#twentytab-treeeditor
#twentytab-utils
#twentytab-previewadmin
