Django>=1.6.2
South
django-debug-toolbar
psycopg2

#django-spoolgore
#django-taggit-live
#django-colorful
#twentytab-choicesfilter
#twentytab-cked
#twentytab-customadmin
#twentytab-geocode
#twentytab-gmaps
#twentytab-highlighter
#twentytab-image-ui
#twentytab-immortalmodel
#twentytab-inspectmodel
#twentytab-model-to-bidimensional
#twentytab-select2
#twentytab-seo
#twentytab-sortable
#twentytab-tab-translation
#twentytab-tree
#twentytab-utils
#twentytab-previewadmin
