[uwsgi]

project_name = {{project_name}}
venv_name = {{project_name}}
py_version = PYVERSION

workarea_root = WORKAREA_ROOT

project_root = %(workarea_root)/%(project_name)
venvs_dir = VENV_ROOT

ini = %d/global.ini
ini = %d/static.ini

# Not required if uwsgi was installed with pip
plugin = python3

http-socket = :8080

processes = 1
threads = 1
