SECRET_KEY = ''
DATABASES_DEFAULT_NAME = '{{project_name}}'
DATABASES_DEFAULT_USER = 'postgres'
DATABASES_DEFAULT_PASSWORD = ''
DATABASES_DEFAULT_HOST = '127.0.0.1'
DATABASES_DEFAULT_PORT = '5432'
EMAIL_HOST = ''
EMAIL_PORT = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_SSL = ''
EMAIL_USE_TLS = ''
