[uwsgi]

env = SECRET_KEY=
env = DATABASES_DEFAULT_NAME=
env = DATABASES_DEFAULT_USER=
env = DATABASES_DEFAULT_PASSWORD=
env = DATABASES_DEFAULT_HOST=
env = DATABASES_DEFAULT_PORT=
env = EMAIL_HOST=
env = EMAIL_PORT=
env = EMAIL_HOST_USER=
env = EMAIL_HOST_PASSWORD=
env = EMAIL_USE_SSL=
env = EMAIL_USE_TLS=
